<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../imagem/icones/Vector branco.svg" type="image/x-icon">
    <link rel="icon" href="../imagem/icones/Vector branco.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastroEstilo.css') }}">

    <title>Cadastro</title>
</head>
<body>
    <a  href="{{url_for('index')}}" >
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="146" height="142" viewBox="0 0 146 142" fill="none">
        <path d="M72.5883 32.1104L87.5603 14.3655C87.5603 14.3655 113.206 14.8931 138.761 26.4123C132.218 36.0058 119.232 40.7014 119.232 40.7014C118.357 32.2731 112.267 30.2154 92.9016 30.2154L72.5928 141.367L52.1435 30.1934C32.9184 30.1934 26.829 32.2555 25.9538 40.6795C25.9538 40.6795 12.9633 36.0322 6.42495 26.4343C31.9753 14.9151 57.6254 14.3875 57.6254 14.3875L72.5974 32.1104H72.5747H72.5883ZM72.5883 9.25658C93.2281 9.07192 116.87 12.3474 141.073 22.6048C144.311 16.9243 145.136 14.4314 145.136 14.4314C118.688 4.26199 93.9128 0.762252 72.5883 0.669922C51.2639 0.762252 26.4889 4.2444 0.0407715 14.4314C0.0407715 14.4314 1.21967 17.5223 4.10343 22.6312C28.3116 12.3254 51.9485 9.07632 72.5883 9.2346V9.25658Z" fill="black"/>
      </svg>
    </a>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alerta message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


    <main id="container">
        <form action="{{ url_for('cadastro') }}" id="login_form" method="POST">
            <div id="form_header">
                <p class="texto">Crie uma conta Tesla</p>
            </div>
            <div id="inputs">
                <div class="input-box">
                    <div class="input-field">
                         <input type="text" id="txt" name="nome" placeholder="Nome" required>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="text" id="txt" name="sobrenome" placeholder="Sobrenome" required>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="email" id="txt" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="password" id="txt" class="senha" name="senha" placeholder="Senha" required>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input type="password" id="txt" class="confirmar_senha" name="confirmar_senha" placeholder="Confirmar Senha" required>
                    </div>
                </div>
                <input type="submit" class="login_button send" value="CRIAR CONTA">
            </div>
        </form>
    </main>

    <script>
        setTimeout(function() {
            var flashMessage = document.querySelector('.message');
            if (flashMessage) {
                flashMessage.style.display = 'none';
            }
        }, 5000);
    </script>
    
</body>
