<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='checkEstilo.css') }}">
    <title>Checkout</title>
</head>
<body>
    <header>
        <div class="model">
            Model <span>S</span>
        </div>
        <a href="/home" class="tesla">
            <img class="tesla" src="{{ url_for('static', filename='imagem/icones/Vector preto.png') }}" alt="Tesla">
        </a>
    </header>
    <main>
        <div class="car">
            <div class="carousel">
                <img class="car carro" src="{{ url_for('static', filename='imagem/branco.jpg') }}" alt="carro">
                <img class="car carro" src="{{ url_for('static', filename='imagem/cinza.jpg') }}" alt="carro">
                <img class="car carro" src="{{ url_for('static', filename='imagem/preto.jpg') }}" alt="carro">
                <img class="car carro" src="{{ url_for('static', filename='imagem/azul.jpg') }}" alt="carro">
                <img class="car carro" src="{{ url_for('static', filename='imagem/vermelho.jpg') }}" alt="carro">
            </div>
        </div>
        <div class="checkout-box">
            <div class="detalhes">
                <h1>Model <span>S</span></h1>
                <small>Entrega estimada: Nov - Dez 2023</small>
                <div class="vel">
                    <div class="vel2">
                        <p><strong>634</strong>  <small>km</small></p>
                            <small>Autonomia</small>
                            <small>(WLTP)</small>
                    </div>
                    <div class="vel2">
                        <p><strong>250</strong>  <small>km/h</small></p>
                        <small>Velocidade</small>
                        <small>Maxima</small>
                    </div>
                    <div class="vel2">
                        <p><strong>3,2</strong>  <small>km</small></p>
                        <small>0 - 100 km/h</small>
                    </div>
                </div>
                <div class="opcaoDeMotor">
                    <p class="textM">Motor Duplo Tração Integral</p>
                    <button class="opcao" onclick="selecionarBotao(this)">
                        <p>Model <span>S</span></p>
                        <p>109 490 €</p>
                    </button>

                    <p class="textM">Motor Triplo Tração Integral</p>
                    <button class="opcao" onclick="selecionarBotao(this)">
                        <p>Model <span>S</span> Plaid</p>
                        <p>134 490 €</p>
                    </button>
                </div>
            </div>
            <div class="pintura">
                <h3>Pinturas</h3>
                <div class="cores">
                    <div class="cor branco" onclick="mudarCor('0')"></div>
                    <div class="cor preto" onclick="mudarCor('-20')"></div>
                    <div class="cor cinza" onclick="mudarCor('-40')"></div>
                    <div class="cor azul" onclick="mudarCor('-60')"></div>
                    <div class="cor vermelho" onclick="mudarCor('-80')"></div>
                </div>
            </div>
            <button class="compra1" onclick="compraRealizada()">
                Comprar 
                <img src="{{ url_for('static', filename='imagem/icones/carrinho de compras.png') }}" alt="">
            </button>
        </div>
    </main>

    <script src="{{ url_for('static', filename='scripts/check.js')}}"></script>

</body>
</html>