@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Manrope;
    overflow-x: hidden;
}

header{
    height: 18%;
    padding: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.model{
    font-weight: 600;
    font-size: 2.5rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 3% 3% 0 6%;
}

.car{
    width: 70%;
    overflow: hidden;
    position: relative;
}

.carousel {
    width: 500%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.checkout-box{
    width: 30%;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 32px;
    padding-bottom: 1%;
}

.detalhes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
}

.vel{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    gap: 40px;
    color: #393C41;
}

.vel2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

small{
    font-size: x-small;
}

.opcaoDeMotor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.textM{
    font-weight: 700;
    font-size: 14px;
}

.opcao{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid rgba(92, 94, 98, 0.2);
    border-radius: 4px;
    padding: 1rem;
    font-size: 14px;
    cursor: pointer;
}

.ativo{
    border: 2px solid #3E6AE1;
}

.pintura{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem
}

.cores{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}

.cor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cor.branco{
    background-color: #fff;
}

.cor.cinza{
    background-color: gray;
}

.cor.preto{
    background-color: #000;
}

.cor.azul{
    background-color: #00f;
}

.cor.vermelho{
    background-color: #f00;
}

.compra1{
    display: flex;
    width: 250px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    background-color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: 0.3s;
}

.compra1:hover{
    transform: scale(1.05);
    filter: invert(100%);
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    .model{
        font-size: 2rem;
    }
    .tesla{
        width: 90px;
    }
    main{
        padding: 0;
    }
    .car{
        width: 100%;
    }
    .checkout-box{
        width: 100%;
        margin: 0 5%;
    }
    .vel{
        padding: 2rem 0;
    }
    small{
        font-size: small;
    }
}

@media only screen and (max-width: 767px){
    header{
        padding: 0.5rem 1rem;
    }
    .model{
        font-size: 1.5rem;
    }
    .tesla{
        width: 50px;
    }
    main{
        padding: 0;
    }
    .car{
        width: 100%;
    }
    .checkout-box{
        width: 100%;
        margin: 0 5%;
    }
    .vel{
        width: 100%;
        gap: 0;
        padding: 2rem 0;
    }
    small{
        font-size: xx-small;
    }
}